.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
.vim/
.project
.classpath
.c9/
node_modules/
dist/
build/
*.log
*.otf.bak
*.ttf.bak
*.woff.bak
*.woff2.bak
*.tmp
*.temp
.cache/